[Desktop Entry]
Version=1.0
Name=Kepka
GenericName=Kepka
Keywords=IM;Chat;
Comment=Unofficial Telegram desktop messaging app
Exec=sh -c "env LD_LIBRARY_PATH=/usr/local/kepka/lib:\\$LD_LIBRARY_PATH /usr/bin/kepka -- %u"
Icon=kepka
Terminal=false
StartupWMClass=Kepka
Type=Application
Categories=Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
